* {
    margin: 0; padding: 0; box-sizing: content-box;
}

body {
/*     background-color: lightblue;     */
    background-color: #fff761;

    counter-reset: contador_titulo;
}

main {
    background-color: white;
    padding: 2%;
    padding-bottom: 25%;
    font-family: 'Abel',Helvetica,Arial,Lucida,sans-serif;
    color: black;
    margin: 2% auto;
    width: 88%;
    border: 1px black solid;
}

main h1 {
    /* Titulo principal */
    margin-top: 2%;
    margin-bottom: 6%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

#opcionesMenu {
    background-color: rgb(253, 250, 199);
    margin-bottom: 5%;
    height: 2.5em;
    display: flex;
    justify-content: space-around;
}

#opcionesMenu ol {
    font-weight: bolder;
    font-variant: small-caps;
    width: 100%;
    height: 100%;
    line-height: 2em;
    border: 2px solid black;
    text-align: center;
}

.indice {
    counter-reset: contador;
    margin-bottom: 20%;
}

.indice ol {
    line-height: 1.75em;
}

.indice ol::before {
    width: 20px;
    display: inline-block;
    counter-increment: contador;
    content: counter(contador) ") ";
    margin: 0 1%;
    text-align: right;
}

a:link, a:visited  {
    color: #00458b;
    text-decoration: none;
}

h3 {
    margin-bottom: 2%;
    text-decoration: underline;
    text-transform: uppercase;
}

.Ejercicio {
    height: 95vh;
}

.Ejercicio h2 {
    margin: 2% 0% 1%;
    padding-top: 3%;
}

.Ejercicio h2::before {
    counter-increment: contador_titulo;
    content: counter(contador_titulo) ") ";
}

.tablaEjemplos {
    margin: 2% 0;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
/*     display:flex;
    justify-content: space-evenly;
    flex-direction: row; */
}

.columnaProblem {
/*     width: 70%; */
/*     border: 3px blue solid; */
}

.columnaProblem ol {
    padding-left: 5%;
    border: 1px black solid;
}

.resolucionProblem {
/*     width: 30%; */
/*     border: 5px yellow solid; */
}

.resolucionProblem ol {
    border: 1px black solid;
    text-align: center;
}

.tablaEjemplos h4 {
    background-color: rgb(228, 228, 228);
    border: 1px black solid;
    text-align: center;
}

.resolucionExercise {
    width: 90%;
    display: flex;
    margin-bottom: 2%;
}

.resolucion {
    width: 50%;
}

.resolucionExercise h4 {
    display: block;
    margin-bottom: 0.5%;
    text-transform: uppercase;
}

.resolucionExercise p {
    color: red;
    font-weight: bold;
}

footer {
    height: 5%;
    line-height: 35px;
    width: 100%;
    color: white;
    background-color: #212121;
    text-align: center;
    position: fixed;
    bottom: 0px;
}