* {
    margin: 0; padding: 0; box-sizing: content-box;
}

body {
    background-color: yellowgreen;
}

main {
    counter-reset: contador;
    background-color: white;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 25%;
    font-family: 'Abel',Helvetica,Arial,Lucida,sans-serif;
    color: black;
    margin: 2% auto;
    width: 88%;
    border: 1px black solid;
}

#indice {
    counter-reset: contador_titulo;
    margin: 10% 0 20% 2%;
}

#indice ol {
    line-height: 1.75em;
}

#indice ol::before {
    width: 20px;
    display: inline-block;
    counter-increment: contador;
    content: counter(contador) ") ";
    margin: 0 1%;
    text-align: right;
}

.Ejercicio {
    height: 95vh;
}

.Ejercicio h2 {
    margin: 2% 0% 1%;
    padding-top: 3%;
}

.Ejercicio h2::before {
    counter-increment: contador_titulo;
    content: counter(contador_titulo) ") ";
}

/* Titulo principal */
h1 {
    margin: 2%;
    text-align: center;
    text-decoration: underline;
}

/* Título Indice */
h3 {
    margin-bottom: 2%;
    text-decoration: underline;
    text-transform: uppercase;
}

.tablaEjemplos {
    margin: 2% 0;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
/*     display:flex;
    justify-content: space-evenly;
    flex-direction: row; */
}

.columnaProblem {
/*     width: 70%; */
/*     border: 3px blue solid; */
}

.columnaProblem ol {
    padding-left: 5%;
    border: 1px black solid;
}

.resolucionProblem {
/*     width: 30%; */
/*     border: 5px yellow solid; */
}

.resolucionProblem ol {
    border: 1px black solid;
    text-align: center;
}

.tablaEjemplos h4 {
    background-color: rgb(228, 228, 228);
    border: 1px black solid;
    text-align: center;
}

.resolucionExercise {
    width: 90%;
    display: flex;
    margin-bottom: 2%;
}

.resolucion {
    width: 50%;
}

.resolucionExercise h4 {
    display: block;
    margin-bottom: 0.5%;
    text-transform: uppercase;
}

.resolucionExercise p {
    color: red;
    font-weight: bold;
}

footer {
    height: 5%;
    line-height: 35px;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    position: fixed;
    bottom: 0px;
}